.bids{

    margin-bottom: 15.7vw;
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.2vw;
    }
    &__title{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        @include adaptive-font(50);


    }
    &__button{
        @include adaptive-font(50);

        transition: background 0.3s cubic-bezier(.43,.41,.22,.91);

        //border-radius: 10px;
        //border: 3px solid #230933;
        display: flex;
        align-items: center;

        position: relative;
        border-radius: 10px;
        background-color: transparent;
        &::after {
            content: "";
            display: block;
            background: linear-gradient(150.79deg, rgba(116, 23, 149, 0.8) 0%, rgba(58, 15, 79, 0.4) 98.8%);

            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 2.2px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;

            z-index: -1;

        }

        &:hover{
            background: rgba(255,255,255,.1);
        }
        a{
            padding: 1.1vw 2.6vw;
            @media(max-width: 500px){
                padding: 3.1vw 4.6vw;
            }
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 0.4em;
        }


    }

    &__cards{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item{
        display: flex;
        flex-wrap: wrap;
        // flex: 1 0 25%;
        @media (max-width: 716px) {
            flex: 1 0 33.3%;
        }
        //@media(min-width: 1000px) {
            width: calc(25% - 0.75rem);
        //}
    }

}

.card{

    @include adaptive-font(50);
    font-family: 'Roboto', sans-serif;

    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);

    &:hover {
        filter: contrast(70%);
    }
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    position: relative;
    border-radius: 19px;
    background: linear-gradient(153.25deg, rgba(58, 15, 79, 0.8) 33.14%, rgba(49, 26, 78, 0.2) 101.87%),
    linear-gradient(150.79deg, rgba(116, 23, 149, 0.8) 0%, rgba(58, 15, 79, 0.4) 98.8%);
    &::after {
        content: "";
        display: block;
        background: linear-gradient(150.79deg, rgba(116, 23, 149, 0.56) 0%, rgba(58, 15, 79, 0.28) 98.8%);
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 3px;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        z-index: -1;
    }

    &__content{
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;

        position: relative;
    }

    &__name  {
        font-style: normal;
        font-weight: 400;
        font-size: 0.5em;

        margin-bottom: 6px;

    }

    &__description {
        display: flex;
        justify-content: space-between;
    }

    &__owner{
        font-style: normal;
        font-weight: 400;
        font-size: 0.32em;
        color: #BEBEBE;
    }

    &__price{
        font-style: normal;
        font-weight: 400;
        font-size: 0.4em;
        text-align: right;
    }

    &__avatar{
        position: absolute;
        top:-55% ;
        right: 1rem;
        width:auto;
        img{
            width:5vw;
        }
    }

    &__image{

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 3px 3px 0 3px;

        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%; // 16:9 aspect ratio
        }
        //@media(min-width: 40rem) {
        //    &::before {
        //        padding-top: 66.6%; // 3:2 aspect ratio
        //    }
        //}
        &--watcher{
            background-image: url('../img/svg/lucky_watcher.svg')
        }
        &--nano-portrait{
            background-image: url('../img/svg/nano_portrait.svg')
        }
        &--shakkablood{
            background-image: url('../img/svg/shakkablood.svg')
        }
        &--horrer{
            background-image: url('../img/svg/horrer.svg')
        }
    }
}