.header{
    @include adaptive-font(50);

    .logo{
        img{
            @media (max-width: 992px){
                width: 15vw;
            }
        }
    }

    font-family: Roboto, sans-serif;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-bottom: 4.5vh;
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__list{
            display: flex;
            gap:4vw;
            @media (max-width: 992px){
                flex-direction: column;
                row-gap: 30px;
            }
        }
        &__item{
            font-size: 0.43em;
            color: #BEBEBE;

            &-selected{
                color: $selected-page;
            }
            &:hover{
                color: $hovered-links;
            }
        }
        &__link{
            transition: .3s;
            color:inherit;
        }
        @media (max-width: 992px) {
                display: none;
                flex-direction: column;
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 50;
                overflow-y: auto;
                padding: 50px 40px;
                background-color: #0a0413;
                animation: burgerAnimation 0.4s;
            justify-content: flex-start;
        }
    }

    .menu{

        @media (max-width: 992px) {
            margin-left: auto;
            margin-right: 15px;
        }
        &__list{
            display: flex;
            gap:1.5vw;
        }
    }

    &__burger{
        display: none;
        position: relative;
        z-index: 51;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
        span{
            height: 2px;
            width: 80%;
            transform: scale(1);
            background: #661FBF;
        }
        &::before,&::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: #661FBF;
            transition: all 0.3s ease 0s;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;

        }
        &.active {
            span{
                transform: scale(0);
            }
            &::before{
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }
            &::after{
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
        @media (max-width: 992px){
            display: flex;
        }
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.open{
    display: flex !important;
}
