@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

@font-face {
    font-family: 'Onek Tubular';
    src: url('../fonts/onektubular-webfont.woff2') format('woff2'),
    url('../fonts/onektubular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

